.main-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 100vh;
    overflow: hidden;  /* Ensure no scrolling here */
}

.ticket-status {
    position: fixed;
    top: 30px;
    right: 40px;
    background-color: rgb(153, 171, 220); /* White background */
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px; /* Add padding for a larger box */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 50rem; /* Set the width to match the configuration box */
    height: 38rem; /* Match the height to configuration box */
    overflow-y: auto; /* Allow scrolling if content overflows */
}


.ticket-status h2 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 1rem;
    text-align: center;
    border-bottom: 1px solid #eee;
    padding-bottom: 0.5rem;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #333;
}

output {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.message-box {
    max-height: 24rem; 
    overflow-y: auto;
    background: #c6c7dc;
    border: 2px solid #ddd;
    border-radius: 5px;
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.05);
    padding: 0;
    
}

.message-box ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.message-box li {
    padding: 10px 15px;
    border-bottom: 1px solid #eee;
    font-size: 14px;
    color: #555;
    transition: background-color 0.2s ease;
    cursor: default;
}

.message-box li:last-child {
    border-bottom: none;
}

.message-box li:hover {
    background: #f0f0f0;
}